@page "/deleteRecord/{No}"

@using BlazorWASM_WebAPi.Shared

@inject NavigationManager NavigationManager
@inject HttpClient Http

<h2>Delete</h2>
<p>Confirm to delete record No: <b> @No</b></p>
<br />
<div class="col-md-4">
    <table class="table">
        <tr>
            <td>DateIn</td>
            <td>@record.DateIn</td>
        </tr>
        <tr>
            <td>SA_SN</td>
            <td>@record.SA_SN</td>
        </tr>
        <tr>
            <td>SA_PN</td>
            <td>@record.SA_PN</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="button" class="btn btn-primary" @onclick="@Delete" value="Delete" />
        <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
    </div>
</div>


@code {


    [Parameter]
    public string No { get; set; }

    RecordDetails record = new RecordDetails();

    protected override async Task OnInitializedAsync()
    {
        record = await Http.GetFromJsonAsync<RecordDetails>("api/RecordDetails/" + No);

    }

    protected async Task Delete()
    {
        await Http.DeleteAsync("api/RecordDetails/" + No);
        NavigationManager.NavigateTo("listRecord");

    }
    void Cancel()
    {
        NavigationManager.NavigateTo("listRecord");

    }



}
